@page "/projects"

@attribute [Authorize]

<PageTitle>Projects</PageTitle>

<Title Level="3">Projects</Title>

<Button Type=@ButtonType.Primary
        OnClick=@(() => _visible = true)>
    Create new
</Button>

<CreateProject Visible=@_visible
               OnProjectCreated=@LoadDataAsync />

<Divider />

<Table TItem=@Domain.Dtos.ProjectDto
       DataSource=@Projects
       HidePagination>

    <Column TData=@string DataIndex="Name" Title="Name">
        @context.Name
    </Column>

    <Column TData="@string" Title="Created by">
        @context.CreatedBy
    </Column>

    <Column TData="@string" Title="Created at">
        <Template>
            @context.CreatedAt.ToShortDateString()
        </Template>
    </Column>

</Table>