@page "/projects/{projectId:guid}/tasks"

<PageTitle>@Title</PageTitle>


<StateForm @bind-Visible=@_stateFormVisible
           ProjectId=@ProjectId
           @bind-StateId=@_selectedStateId
           StateModel=@Project?.States?.FirstOrDefault(s => s.Id == _selectedStateId)?.ToStateModel()
           OnSubmit=@LoadDataAsync />

<div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-3">
    <div class="d-flex align-items-center">
        <Breadcrumb>
            <BreadcrumbItem Href="/projects">
                <i class="bi bi-briefcase"></i> Projects
            </BreadcrumbItem>
            <BreadcrumbItem Href="@($"/projects/{ProjectId}/tasks")">
                <i class="bi bi-kanban"></i> @Project?.Name
            </BreadcrumbItem>
        </Breadcrumb>
    </div>

    <div class="d-flex align-items-center gap-3">
        <div class="d-flex gap-2 bg-white rounded-pill shadow-sm px-3 py-2">
            <NavLink href="@($"/projects/{ProjectId}/lobby")"
                     title="Videocall"
                     class="btn btn-light rounded-circle d-flex align-items-center justify-content-center"
                     style="width: 38px; height: 38px;">
                <i class="bi bi-telephone"></i>
            </NavLink>

            <NavLink href="@($"/projects/{ProjectId}/calendar")"
                     title="Calendar"
                     class="btn btn-light rounded-circle d-flex align-items-center justify-content-center"
                     style="width: 38px; height: 38px;">
                <i class="bi bi-calendar2-check"></i>
            </NavLink>

            <NavLink href="@($"/projects/{ProjectId}/settings")"
                     title="settings"
                     class="btn btn-light rounded-circle d-flex align-items-center justify-content-center"
                     style="width: 38px; height: 38px;">
                <i class="bi bi-gear-fill"></i>
            </NavLink>
        </div>

        <CascadingValue Value="@Project?.Role?.Name">
            <RoleAuthorizeView AllowedRoles="@([Roles.Admin, Roles.Contributor])">
                <Allowed>
                    <Button OnClick="@OpenCreateStateForm" Class="btn btn-primary">
                        <i class="bi bi-plus-lg me-1"></i> Add state
                    </Button>
                </Allowed>
            </RoleAuthorizeView>
        </CascadingValue>
    </div>
</div>

@if (Project is null)
{
    <Spin Size=@SpinSize.Large />
    return;
}

@if (!Project!.States.Any())
{
    <Empty Description=@("You have not added any states yet") />
    return;
}

<div class="mb-3">
    <Search OnSearch=@SearchTasksByNameAsync
            Placeholder="Search by task name"
            AllowClear
            OnClear=@ClearSearchAsync
            Class="w-100" />
</div>

<CascadingValue Value=@Project?.Role?.Name>
    <div class="overflow-auto" style="width: 100%;">
        <div class="row g-4 flex-nowrap cards" style="min-width: 100%; height: calc(100vh - 250px);">
            @foreach (var state in Project!.States)
            {
                <TasksColumn Tasks=@Tasks.Where(t => t.StateId == state.Id).OrderBy(t => t.SortOrder).ToList()
                             TaskModel=@TaskModel
                             State=@state
                             ProjectId=@ProjectId
                             Role=@Project.Role.Name
                             OnShowInput=@ShowInput
                             OnOpenDetails=@OpenDetails
                             OnStateDeleted=@DeleteStateFromList
                             OnOpenUpdateStateForm=@(() => OpenUpdateStateForm(state.Id)) />
            }
        </div>
    </div>

    @if (!HideInput)
    {
        <div class="mt-2">
            <Form Model=@TaskModel
                  OnFinish=@Submit
                  Layout=@FormLayout.Horizontal>
                <FluentValidationValidator />
                <div class="d-flex align-items-stretch"
                     style="height: 38px">
                    <Button HtmlType="submit"
                            Class="btn btn-outline-secondary me-1 h-100">
                        +
                    </Button>
                    <FormItem class="flex-grow-1">
                        <Input Size=@InputSize.Large
                               @ref=@Input
                               @bind-Value=@TaskModel.Name
                               Placeholder="Task name" />
                    </FormItem>
                </div>
            </Form>
        </div>
    }

    <TaskDetails TaskId=@_selectedTaskId
                 ProjectId=@ProjectId
                 @bind-Visible=@_detailsVisible />
</CascadingValue>
